.poke-info-container {
  padding-top: 130px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.bug-pokemon {
    background: $bug;
  }
  &.grass-pokemon {
    background: $grass;
  }
  &.poison-pokemon {
    background: $poison;
  }
  &.psychic-pokemon {
    background: $psychic;
  }
  &.rock-pokemon {
    background: $rock;
  }
  &.unknown-pokemon {
    background: $unknown;
  }
  &.fire-pokemon {
    background: $fire;
  }
  &.water-pokemon {
    background: $water;
  }
  &.flying-pokemon {
    background: $flying;
  }
  &.fighting-pokemon {
    background: $fighting;
  }
  &.electric-pokemon {
    background: $electric;
  }
  &.ghost-pokemon {
    background: $ghost;
  }
  &.fairy-pokemon {
    background: $fairy;
  }
  &.normal-pokemon {
    background: $normal;
  }
  &.ice-pokemon {
    background: $ice;
  }
  &.dark-pokemon {
    background: $dark;
  }
  &.ground-pokemon {
    background: $ground;
  }
  &.dragon-pokemon {
    background: $dragon;
  }
  &.steel-pokemon {
    background: $steel;
  }
}
