@import "variables";
@import "type.scss";
@import "infoPopOut.scss";

.capitalize {
  text-transform: capitalize;
}

.nowrap {
  white-space: nowrap;
}

.above-poke-tabs {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #fff;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgb(255, 239, 213);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 767px) {
    max-width: 90%;
  }
}

.pokemon-tabs-wrapper {
  width: 100%;
  background-color: #fff;
}

.pokemon-tabs {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 0 25px 50px;
  background: rgb(255, 239, 213);
  -webkit-box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25);
}

.detail-header {
  padding: 8px 15px;
  color: #fff;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  h2 {
    font-size: 1.25rem;
  }
}

.close-view {
  top: 6%;
  left: 10%;
  position: absolute;
  z-index: 1;
  background-color: transparent !important;
  background-image: url("../../images/arrow-left.svg") !important;
  background-size: 50px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 40px;
  width: 50px;
  padding: 0;
  max-width: 50px;
  min-width: 50px;

  @media screen and (max-width: 767px) {
    left: 30px;
  }
}
